{% extends 'base.html' %}

{% block content %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">Task ID</th>
      <th scope="col">Title</th>
      <th scope="col">Priority</th>
      <th scope="col">Mark</th>
      <th scope="col">Details</th>
    </tr>
  </thead>
  <tbody>
  {% for task in tasks %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{task.title}}</td>
      <td>{{ task.priority }}</td>
      <td>{{ task.mark }}</td>
      <td><a href="{% url 'details-task' task.id %}">Click</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}